body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u240 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:0px;
  top:3px;
  width:46px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u242 {
  position:absolute;
  left:40px;
  top:608px;
  width:258px;
  height:29px;
}
#u242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
