body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u261 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:18px;
  top:46px;
  width:342px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u263 {
  position:absolute;
  left:18px;
  top:94px;
  width:342px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u264 {
  position:absolute;
  left:9px;
  top:600px;
  width:43px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u265 {
  position:absolute;
  left:90px;
  top:600px;
  width:40px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u266 {
  position:absolute;
  left:172px;
  top:590px;
  width:32px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u267 {
  position:absolute;
  left:324px;
  top:600px;
  width:41px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
