body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u346 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u347 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348 {
  position:absolute;
  left:3px;
  top:2px;
  width:40px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u349 {
  position:absolute;
  left:35px;
  top:274px;
  width:321px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u350 {
  position:absolute;
  left:35px;
  top:310px;
  width:321px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u351 {
  position:absolute;
  left:35px;
  top:351px;
  width:321px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
