body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u124 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u126 {
  position:absolute;
  left:10px;
  top:77px;
  width:356px;
  height:117px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u127 {
  position:absolute;
  left:10px;
  top:219px;
  width:356px;
  height:159px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
