body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u172 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u173 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:50px;
}
#u174 {
  position:absolute;
  left:9px;
  top:64px;
  width:331px;
  height:50px;
}
#u175 {
  position:absolute;
  left:2px;
  top:17px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:12px;
  top:64px;
  width:351px;
  height:170px;
}
#u176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:170px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u177 {
  position:absolute;
  left:47px;
  top:466px;
  width:282px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u178 {
  position:absolute;
  left:8px;
  top:2px;
  width:49px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
