body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u304 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u305 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306 {
  position:absolute;
  left:61px;
  top:234px;
  width:67px;
  height:22px;
}
#u306_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u307 {
  position:absolute;
  left:3px;
  top:3px;
  width:53px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u308 {
  position:absolute;
  left:45px;
  top:411px;
  width:284px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
