body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u223 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  position:absolute;
  left:199px;
  top:175px;
  width:57px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u225 {
  position:absolute;
  left:2px;
  top:0px;
  width:44px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u226 {
  position:absolute;
  left:119px;
  top:175px;
  width:55px;
  height:21px;
  overflow:hidden;
}
#u226_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u226_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  overflow:hidden;
}
#u227_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u227_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u226_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u226_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
}
#u228_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u228_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(18, 199, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(18, 199, 162, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  color:#FFFFFF;
}
#u230 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
