body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u13 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:95px;
  top:235px;
  width:223px;
  height:31px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:31px;
  background-color:#F5F5F5;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15 {
  position:absolute;
  left:95px;
  top:279px;
  width:223px;
  height:31px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:31px;
  background-color:#F5F5F5;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16 {
  position:absolute;
  left:57px;
  top:415px;
  width:261px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC0000;
}
#u17 {
  position:absolute;
  left:82px;
  top:198px;
  width:211px;
  height:16px;
  color:#CC0000;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
