body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u290 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u291 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u292 {
  position:absolute;
  left:2px;
  top:1px;
  width:42px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
