body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u129 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u131 {
  position:absolute;
  left:48px;
  top:465px;
  width:280px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
