body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u369 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u370 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371 {
  position:absolute;
  left:17px;
  top:140px;
  width:342px;
  height:63px;
}
#u371_input {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:63px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u372 {
  position:absolute;
  left:6px;
  top:1px;
  width:39px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u373 {
  position:absolute;
  left:49px;
  top:449px;
  width:279px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
