body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u269 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270 {
  position:absolute;
  left:41px;
  top:609px;
  width:257px;
  height:28px;
}
#u270_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u271 {
  position:absolute;
  left:3px;
  top:1px;
  width:39px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
