body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u314 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315 {
  position:absolute;
  left:48px;
  top:300px;
  width:282px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u316 {
  position:absolute;
  left:3px;
  top:0px;
  width:52px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
