body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u339 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u340 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341 {
  position:absolute;
  left:3px;
  top:2px;
  width:42px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u342 {
  position:absolute;
  left:82px;
  top:517px;
  width:66px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u343 {
  position:absolute;
  left:225px;
  top:517px;
  width:69px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u344 {
  position:absolute;
  left:282px;
  top:67px;
  width:74px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u345 {
  position:absolute;
  left:282px;
  top:140px;
  width:74px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
