body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u110 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:2px;
  top:2px;
  width:45px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u112 {
  position:absolute;
  left:195px;
  top:173px;
  width:66px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u113 {
  position:absolute;
  left:119px;
  top:175px;
  width:55px;
  height:21px;
  overflow:hidden;
}
#u113_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u113_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u114 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  overflow:hidden;
}
#u114_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u114_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u113_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u113_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
}
#u115_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u115_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(18, 199, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(18, 199, 162, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  color:#FFFFFF;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
