body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u352 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u353 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u354 {
  position:absolute;
  left:2px;
  top:1px;
  width:41px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u355 {
  position:absolute;
  left:47px;
  top:447px;
  width:281px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u356 {
  position:absolute;
  left:19px;
  top:58px;
  width:300px;
  height:31px;
}
#u356_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u357 {
  position:absolute;
  left:19px;
  top:96px;
  width:300px;
  height:31px;
}
#u357_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u358 {
  position:absolute;
  left:19px;
  top:134px;
  width:300px;
  height:31px;
}
#u358_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
