body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u204 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u205 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206 {
  position:absolute;
  left:119px;
  top:175px;
  width:55px;
  height:21px;
  overflow:hidden;
}
#u206_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u206_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  overflow:hidden;
}
#u207_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u207_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u206_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u206_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
}
#u208_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u208_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(18, 199, 162, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(18, 199, 162, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  color:#FFFFFF;
}
#u210 {
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:191px;
  top:175px;
  width:73px;
  height:21px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u212 {
  position:absolute;
  left:0px;
  top:2px;
  width:44px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
