body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u196 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:186px;
  top:110px;
  width:46px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u198 {
  position:absolute;
  left:237px;
  top:110px;
  width:49px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u199 {
  position:absolute;
  left:290px;
  top:110px;
  width:52px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u200 {
  position:absolute;
  left:18px;
  top:153px;
  width:184px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u201 {
  position:absolute;
  left:18px;
  top:191px;
  width:184px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u202 {
  position:absolute;
  left:18px;
  top:232px;
  width:184px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u203 {
  position:absolute;
  left:18px;
  top:271px;
  width:184px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
