body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u321 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u322 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323 {
  position:absolute;
  left:4px;
  top:0px;
  width:41px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u324 {
  position:absolute;
  left:48px;
  top:447px;
  width:281px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u325 {
  position:absolute;
  left:17px;
  top:150px;
  width:341px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u326 {
  position:absolute;
  left:17px;
  top:185px;
  width:341px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
