body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u145 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:1px;
  top:3px;
  width:45px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u147 {
  position:absolute;
  left:44px;
  top:608px;
  width:243px;
  height:29px;
}
#u147_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
