body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u165 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:61px;
  top:11px;
  width:248px;
  height:25px;
}
#u166_input {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u167 {
  position:absolute;
  left:4px;
  top:7px;
  width:32px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
